@import 'tailwindcss';

@font-face {
  font-family: 'Baloo Tamma';
  src: url('/fonts/BalooTamma-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-lilac: #6e84be;
  --color-dirtywhite: #f9f6f1;
  --color-cream: #feeacb;
  --color-lightblue: #b6d5f0;
  --color-lightorange: #fdd04e;

  --font-display: 'Baloo Tamma', 'sans-serif';
}

html,
body {
  @apply h-full;
}
